
<div class="container">
  <h1 class= 'lang' key='usuarios'></h1>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th scope="col">Borrar</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < users.length; i++) { %>
        <% if (users[i].tipo == 'user') { %>
         <tr>
           <td><%= users[i].name %></td>
           <td><%= users[i].email %></td>
           <td>
             <a href="<%=process.env.protocol%><%=process.env.Server%>/user/destroy/<%= users[i].id %>" method="POST"> Eliminar </a>
          </td>
         </tr>
           <% } %>
      <% } %>
    </tbody>
  </table>



</table>
</div>
